USE [master]
GO
/****** Object:  Database [MSPR]    Script Date: 25/03/2025 10:15:06 ******/
CREATE DATABASE [MSPR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MSPR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MSPR.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MSPR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MSPR_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSPR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSPR]
GO
/****** Object:  Table [dbo].[Annees]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Annees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidats]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Tour] [int] NULL,
	[Parti] [nvarchar](50) NULL,
	[Bord] [nvarchar](50) NULL,
	[Voix] [decimal](10, 2) NULL,
	[%_exp] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chomage]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chomage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[TauxDeChomage] [decimal](10, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsoMenage]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsoMenage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[annee] [int] NULL,
	[valeur] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demographie]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demographie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Population au 1er janvier] [decimal](10, 1) NULL,
	[Naissances vivantes] [decimal](10, 1) NULL,
	[Décès] [decimal](10, 1) NULL,
	[Solde naturel] [decimal](10, 1) NULL,
	[Solde migratoire] [decimal](10, 1) NULL,
	[Ajustement] [decimal](10, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elections]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Tour] [int] NULL,
	[Inscrits] [int] NULL,
	[Absentions] [int] NULL,
	[%Abs/Ins] [decimal](10, 2) NULL,
	[Votants] [int] NULL,
	[%Vot/Ins] [decimal](10, 2) NULL,
	[Blancsetnuls] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmploisPrive]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploisPrive](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Nombre de salariés] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmploisPublic]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploisPublic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Nombre de salariés] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insecurite]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insecurite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[annee] [int] NULL,
	[nombre] [float] NULL,
	[taux_pour_mille] [float] NULL,
	[insee_pop] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasseSalariale]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasseSalariale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Masse salariale à T+50 jours (brut)] [float] NULL,
	[Masse salariale à T+70 jours (brut)] [float] NULL,
	[Masse salariale à T+50 jours (cvs)] [float] NULL,
	[Masse salariale à T+70 jours (cvs)] [float] NULL,
	[Glissement trimestriel - Masse salariale à T+50 jours (cvs)] [float] NULL,
	[Glissement trimestriel - Masse salariale à T+70 jours (cvs)] [float] NULL,
	[Glissement annuel - Masse salariale à T+50 jours (cvs)] [float] NULL,
	[Glissement annuel - Masse salariale à T+70 jours (cvs)] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pib]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pib](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[PIB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Retraite]    Script Date: 25/03/2025 10:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retraite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Annee] [int] NULL,
	[Taux_Retraite] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
