USE [master]
GO
/****** Object:  Database [MSPR_DM]    Script Date: 25/03/2025 09:33:21 ******/
CREATE DATABASE [MSPR_DM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MSPR_DM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MSPR_DM.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MSPR_DM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MSPR_DM_log.ldf' , SIZE = 991232KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSPR_DM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSPR_DM]
GO
/****** Object:  User [PC_EPSI\abiga]    Script Date: 25/03/2025 09:33:21 ******/
CREATE USER [PC_EPSI\abiga] FOR LOGIN [PC_EPSI\abiga] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Candidat]    Script Date: 25/03/2025 09:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidat](
	[Id_candidat] [int] NOT NULL,
	[Annee] [int] NULL,
	[Tour] [int] NULL,
	[Parti] [nvarchar](50) NULL,
	[Bord] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_candidat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsoMenage]    Script Date: 25/03/2025 09:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsoMenage](
	[Id_conso_menage] [int] NOT NULL,
	[Annee] [int] NULL,
	[Prix_consommation] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_conso_menage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demographie]    Script Date: 25/03/2025 09:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demographie](
	[Id_demographie] [int] NOT NULL,
	[Annee] [int] NULL,
	[Population] [decimal](10, 1) NULL,
	[Naissances] [decimal](10, 1) NULL,
	[Deces] [decimal](10, 1) NULL,
	[SoldeNaturel] [decimal](10, 1) NULL,
	[SoldeMigratoire] [decimal](10, 1) NULL,
	[Ajustement] [decimal](10, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_demographie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartRetraite]    Script Date: 25/03/2025 09:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartRetraite](
	[Id_depart_retraite] [int] NOT NULL,
	[Annee] [int] NULL,
	[Categorie_socioprofessionnelle] [nvarchar](100) NULL,
	[Proportion_fortement_limitees] [decimal](10, 1) NULL,
	[Proportion_limitees] [decimal](10, 1) NULL,
	[Age_depart] [decimal](10, 1) NULL,
	[Proportion_retraites_61ans] [decimal](10, 1) NULL,
	[Duree_emploi] [decimal](10, 1) NULL,
	[Duree_sans_emploi] [decimal](10, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_depart_retraite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Economie]    Script Date: 25/03/2025 09:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Economie](
	[Id_economie] [int] IDENTITY(1,1) NOT NULL,
	[Taux_chomage] [decimal](10, 3) NULL,
	[Pib] [int] NULL,
	[Annee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_economie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emplois]    Script Date: 25/03/2025 09:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emplois](
	[Id_emploi] [int] IDENTITY(1,1) NOT NULL,
	[Annee] [int] NULL,
	[Nombre_salaries_public] [float] NULL,
	[Nombre_salaries_prive] [float] NULL,
	[Masse_salariale_T50_jours_brut] [float] NULL,
	[Glissement_trimestriel_masse_salariale_T50_jours_cvs] [float] NULL,
	[Glissement_trimestriel_masse_salariale_T70_jours_cvs] [float] NULL,
	[Glissement_annuel_masse_salariale_T50_jours_cvs] [float] NULL,
	[Glissement_annuel_masse_salariale_T70_jours_cvs] [float] NULL,
	[Masse_salariale_T70_jours_brut] [float] NULL,
	[Masse_salariale_T50_jours_cvs] [float] NULL,
	[Masse_salariale_T70_jours_cvs] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_emploi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faits_Elections]    Script Date: 25/03/2025 09:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faits_Elections](
	[Id_fait_election] [int] IDENTITY(1,1) NOT NULL,
	[Annee] [int] NULL,
	[Tour] [int] NULL,
	[Inscrits] [int] NULL,
	[Absentions] [int] NULL,
	[Pourcentage_Abstention] [decimal](10, 2) NULL,
	[Votants] [int] NULL,
	[Pourcentage_Votants] [decimal](10, 2) NULL,
	[BlancsNuls] [int] NULL,
	[Nombre_de_voix] [decimal](10, 2) NULL,
	[Ratio_voix_exprime] [decimal](10, 2) NULL,
	[Id_demographie] [int] NULL,
	[Id_conso_menage] [int] NULL,
	[Id_emploi] [int] NULL,
	[Id_insecurite] [int] NULL,
	[Id_economie] [int] NULL,
	[Id_depart_retraite] [int] NULL,
	[Id_candidat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_fait_election] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insecurite]    Script Date: 25/03/2025 09:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insecurite](
	[Id_insecurite] [int] NOT NULL,
	[Annee] [int] NULL,
	[Nombre] [float] NULL,
	[Taux_pour_mille] [float] NULL,
	[insee_pop] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_insecurite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Retraite]    Script Date: 25/03/2025 09:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retraite](
	[Id_depart_retraite] [int] NOT NULL,
	[Annee] [int] NULL,
	[Age_depart] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_depart_retraite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Faits_Elections]  WITH CHECK ADD  CONSTRAINT [FK_FaitsElections_Candidat] FOREIGN KEY([Id_candidat])
REFERENCES [dbo].[Candidat] ([Id_candidat])
GO
ALTER TABLE [dbo].[Faits_Elections] CHECK CONSTRAINT [FK_FaitsElections_Candidat]
GO
ALTER TABLE [dbo].[Faits_Elections]  WITH CHECK ADD  CONSTRAINT [FK_FaitsElections_ConsoMenage] FOREIGN KEY([Id_conso_menage])
REFERENCES [dbo].[ConsoMenage] ([Id_conso_menage])
GO
ALTER TABLE [dbo].[Faits_Elections] CHECK CONSTRAINT [FK_FaitsElections_ConsoMenage]
GO
ALTER TABLE [dbo].[Faits_Elections]  WITH CHECK ADD  CONSTRAINT [FK_FaitsElections_Demographie] FOREIGN KEY([Id_demographie])
REFERENCES [dbo].[Demographie] ([Id_demographie])
GO
ALTER TABLE [dbo].[Faits_Elections] CHECK CONSTRAINT [FK_FaitsElections_Demographie]
GO
ALTER TABLE [dbo].[Faits_Elections]  WITH CHECK ADD  CONSTRAINT [FK_FaitsElections_DepartRetraite] FOREIGN KEY([Id_depart_retraite])
REFERENCES [dbo].[DepartRetraite] ([Id_depart_retraite])
GO
ALTER TABLE [dbo].[Faits_Elections] CHECK CONSTRAINT [FK_FaitsElections_DepartRetraite]
GO
ALTER TABLE [dbo].[Faits_Elections]  WITH CHECK ADD  CONSTRAINT [FK_FaitsElections_Economie] FOREIGN KEY([Id_economie])
REFERENCES [dbo].[Economie] ([Id_economie])
GO
ALTER TABLE [dbo].[Faits_Elections] CHECK CONSTRAINT [FK_FaitsElections_Economie]
GO
ALTER TABLE [dbo].[Faits_Elections]  WITH CHECK ADD  CONSTRAINT [FK_FaitsElections_Emplois] FOREIGN KEY([Id_emploi])
REFERENCES [dbo].[Emplois] ([Id_emploi])
GO
ALTER TABLE [dbo].[Faits_Elections] CHECK CONSTRAINT [FK_FaitsElections_Emplois]
GO
ALTER TABLE [dbo].[Faits_Elections]  WITH CHECK ADD  CONSTRAINT [FK_FaitsElections_Insecurite] FOREIGN KEY([Id_insecurite])
REFERENCES [dbo].[Insecurite] ([Id_insecurite])
GO
ALTER TABLE [dbo].[Faits_Elections] CHECK CONSTRAINT [FK_FaitsElections_Insecurite]
GO
USE [master]
GO
