USE [master]
GO
/****** Object:  Database [MSPR]    Script Date: 25/03/2025 11:07:46 ******/
CREATE DATABASE [MSPR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MSPR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MSPR.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MSPR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MSPR_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSPR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSPR]
GO
/****** Object:  Table [dbo].[Annees]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Annees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidats]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Tour] [int] NULL,
	[Parti] [nvarchar](50) NULL,
	[Bord] [nvarchar](50) NULL,
	[Voix] [decimal](10, 2) NULL,
	[%_exp] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chomage]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chomage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[TauxDeChomage] [decimal](10, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsoMenage]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsoMenage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[annee] [int] NULL,
	[valeur] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demographie]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demographie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Population au 1er janvier] [decimal](10, 1) NULL,
	[Naissances vivantes] [decimal](10, 1) NULL,
	[Décès] [decimal](10, 1) NULL,
	[Solde naturel] [decimal](10, 1) NULL,
	[Solde migratoire] [decimal](10, 1) NULL,
	[Ajustement] [decimal](10, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elections]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Tour] [int] NULL,
	[Inscrits] [int] NULL,
	[Absentions] [int] NULL,
	[%Abs/Ins] [decimal](10, 2) NULL,
	[Votants] [int] NULL,
	[%Vot/Ins] [decimal](10, 2) NULL,
	[Blancsetnuls] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmploisPrive]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploisPrive](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Nombre de salariés] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmploisPublic]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploisPublic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Nombre de salariés] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insecurite]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insecurite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[annee] [int] NULL,
	[nombre] [float] NULL,
	[taux_pour_mille] [float] NULL,
	[insee_pop] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasseSalariale]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasseSalariale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[Masse salariale à T+50 jours (brut)] [float] NULL,
	[Masse salariale à T+70 jours (brut)] [float] NULL,
	[Masse salariale à T+50 jours (cvs)] [float] NULL,
	[Masse salariale à T+70 jours (cvs)] [float] NULL,
	[Glissement trimestriel - Masse salariale à T+50 jours (cvs)] [float] NULL,
	[Glissement trimestriel - Masse salariale à T+70 jours (cvs)] [float] NULL,
	[Glissement annuel - Masse salariale à T+50 jours (cvs)] [float] NULL,
	[Glissement annuel - Masse salariale à T+70 jours (cvs)] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pib]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pib](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Année] [int] NULL,
	[PIB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Retraite]    Script Date: 25/03/2025 11:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retraite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Annee] [int] NULL,
	[Taux_Retraite] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Annees] ON 

INSERT [dbo].[Annees] ([Id], [Année]) VALUES (1, 2002)
INSERT [dbo].[Annees] ([Id], [Année]) VALUES (2, 2003)
INSERT [dbo].[Annees] ([Id], [Année]) VALUES (3, 2004)
SET IDENTITY_INSERT [dbo].[Annees] OFF
GO
SET IDENTITY_INSERT [dbo].[Candidats] ON 

INSERT [dbo].[Candidats] ([Id], [Année], [Tour], [Parti], [Bord], [Voix], [%_exp]) VALUES (1, 2002, 1, N'LCR', N'Extrêmegauche', CAST(1210562.00 AS Decimal(10, 2)), CAST(4.25 AS Decimal(10, 2)))
INSERT [dbo].[Candidats] ([Id], [Année], [Tour], [Parti], [Bord], [Voix], [%_exp]) VALUES (2, 2002, 1, N'LCR', N'Extrêmegauche', CAST(28443.00 AS Decimal(10, 2)), CAST(3.46 AS Decimal(10, 2)))
INSERT [dbo].[Candidats] ([Id], [Année], [Tour], [Parti], [Bord], [Voix], [%_exp]) VALUES (3, 2002, 1, N'LCR', N'Extrêmegauche', CAST(69223.00 AS Decimal(10, 2)), CAST(4.64 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Candidats] OFF
GO
SET IDENTITY_INSERT [dbo].[Chomage] ON 

INSERT [dbo].[Chomage] ([Id], [Année], [TauxDeChomage]) VALUES (1, 2002, CAST(7.520 AS Decimal(10, 3)))
INSERT [dbo].[Chomage] ([Id], [Année], [TauxDeChomage]) VALUES (2, 2003, CAST(8.120 AS Decimal(10, 3)))
INSERT [dbo].[Chomage] ([Id], [Année], [TauxDeChomage]) VALUES (3, 2004, CAST(8.520 AS Decimal(10, 3)))
SET IDENTITY_INSERT [dbo].[Chomage] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsoMenage] ON 

INSERT [dbo].[ConsoMenage] ([Id], [annee], [valeur]) VALUES (1, 2002, CAST(82.77 AS Decimal(10, 2)))
INSERT [dbo].[ConsoMenage] ([Id], [annee], [valeur]) VALUES (2, 2003, CAST(84.54 AS Decimal(10, 2)))
INSERT [dbo].[ConsoMenage] ([Id], [annee], [valeur]) VALUES (3, 2004, CAST(86.34 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ConsoMenage] OFF
GO
SET IDENTITY_INSERT [dbo].[Demographie] ON 

INSERT [dbo].[Demographie] ([Id], [Année], [Population au 1er janvier], [Naissances vivantes], [Décès], [Solde naturel], [Solde migratoire], [Ajustement]) VALUES (1, 2002, CAST(61385.1 AS Decimal(10, 1)), CAST(792.7 AS Decimal(10, 1)), CAST(545.2 AS Decimal(10, 1)), CAST(247.5 AS Decimal(10, 1)), CAST(97.0 AS Decimal(10, 1)), CAST(94.5 AS Decimal(10, 1)))
INSERT [dbo].[Demographie] ([Id], [Année], [Population au 1er janvier], [Naissances vivantes], [Décès], [Solde naturel], [Solde migratoire], [Ajustement]) VALUES (2, 2003, CAST(61824.0 AS Decimal(10, 1)), CAST(793.0 AS Decimal(10, 1)), CAST(562.5 AS Decimal(10, 1)), CAST(230.6 AS Decimal(10, 1)), CAST(102.0 AS Decimal(10, 1)), CAST(94.5 AS Decimal(10, 1)))
INSERT [dbo].[Demographie] ([Id], [Année], [Population au 1er janvier], [Naissances vivantes], [Décès], [Solde naturel], [Solde migratoire], [Ajustement]) VALUES (3, 2004, CAST(62251.1 AS Decimal(10, 1)), CAST(799.4 AS Decimal(10, 1)), CAST(519.5 AS Decimal(10, 1)), CAST(279.9 AS Decimal(10, 1)), CAST(105.1 AS Decimal(10, 1)), CAST(94.5 AS Decimal(10, 1)))
SET IDENTITY_INSERT [dbo].[Demographie] OFF
GO
SET IDENTITY_INSERT [dbo].[Elections] ON 

INSERT [dbo].[Elections] ([Id], [Année], [Tour], [Inscrits], [Absentions], [%Abs/Ins], [Votants], [%Vot/Ins], [Blancsetnuls]) VALUES (1, 2002, 1, 41197964, 11700076, CAST(28.40 AS Decimal(10, 2)), 29497888, CAST(71.60 AS Decimal(10, 2)), 998401)
INSERT [dbo].[Elections] ([Id], [Année], [Tour], [Inscrits], [Absentions], [%Abs/Ins], [Votants], [%Vot/Ins], [Blancsetnuls]) VALUES (2, 2002, 2, 41192272, 8359440, CAST(20.29 AS Decimal(10, 2)), 32832832, CAST(79.71 AS Decimal(10, 2)), 1769904)
INSERT [dbo].[Elections] ([Id], [Année], [Tour], [Inscrits], [Absentions], [%Abs/Ins], [Votants], [%Vot/Ins], [Blancsetnuls]) VALUES (3, 2007, 1, 44472834, 7218592, CAST(16.23 AS Decimal(10, 2)), 37254242, CAST(83.77 AS Decimal(10, 2)), 534846)
SET IDENTITY_INSERT [dbo].[Elections] OFF
GO
SET IDENTITY_INSERT [dbo].[EmploisPrive] ON 

INSERT [dbo].[EmploisPrive] ([Id], [Année], [Nombre de salariés]) VALUES (1, 2002, CAST(16686628.05 AS Decimal(10, 2)))
INSERT [dbo].[EmploisPrive] ([Id], [Année], [Nombre de salariés]) VALUES (2, 2003, CAST(16855903.79 AS Decimal(10, 2)))
INSERT [dbo].[EmploisPrive] ([Id], [Année], [Nombre de salariés]) VALUES (3, 2004, CAST(17025179.52 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[EmploisPrive] OFF
GO
SET IDENTITY_INSERT [dbo].[EmploisPublic] ON 

INSERT [dbo].[EmploisPublic] ([Id], [Année], [Nombre de salariés]) VALUES (1, 2002, CAST(5364906.03 AS Decimal(10, 2)))
INSERT [dbo].[EmploisPublic] ([Id], [Année], [Nombre de salariés]) VALUES (2, 2003, CAST(5383857.73 AS Decimal(10, 2)))
INSERT [dbo].[EmploisPublic] ([Id], [Année], [Nombre de salariés]) VALUES (3, 2004, CAST(5402809.42 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[EmploisPublic] OFF
GO
SET IDENTITY_INSERT [dbo].[Insecurite] ON 

INSERT [dbo].[Insecurite] ([Id], [annee], [nombre], [taux_pour_mille], [insee_pop]) VALUES (1, 2002, 1516.622314453125, 2.1471138000488281, 632520.6875)
INSERT [dbo].[Insecurite] ([Id], [annee], [nombre], [taux_pour_mille], [insee_pop]) VALUES (2, 2003, 1536.93408203125, 2.1699867248535156, 634464.625)
INSERT [dbo].[Insecurite] ([Id], [annee], [nombre], [taux_pour_mille], [insee_pop]) VALUES (3, 2004, 1557.245849609375, 2.1928598880767822, 636408.5)
SET IDENTITY_INSERT [dbo].[Insecurite] OFF
GO
SET IDENTITY_INSERT [dbo].[MasseSalariale] ON 

INSERT [dbo].[MasseSalariale] ([Id], [Année], [Masse salariale à T+50 jours (brut)], [Masse salariale à T+70 jours (brut)], [Masse salariale à T+50 jours (cvs)], [Masse salariale à T+70 jours (cvs)], [Glissement trimestriel - Masse salariale à T+50 jours (cvs)], [Glissement trimestriel - Masse salariale à T+70 jours (cvs)], [Glissement annuel - Masse salariale à T+50 jours (cvs)], [Glissement annuel - Masse salariale à T+70 jours (cvs)]) VALUES (1, 2002, 96651051008, 96651051008, 96651255808, 96651255808, 0.680772066116333, 0.68076974153518677, 3.0183210372924805, 3.0183207988739014)
INSERT [dbo].[MasseSalariale] ([Id], [Année], [Masse salariale à T+50 jours (brut)], [Masse salariale à T+70 jours (brut)], [Masse salariale à T+50 jours (cvs)], [Masse salariale à T+70 jours (cvs)], [Glissement trimestriel - Masse salariale à T+50 jours (cvs)], [Glissement trimestriel - Masse salariale à T+70 jours (cvs)], [Glissement annuel - Masse salariale à T+50 jours (cvs)], [Glissement annuel - Masse salariale à T+70 jours (cvs)]) VALUES (2, 2003, 98430943232, 98430943232, 98432729088, 98432729088, 0.47039628028869629, 0.47039717435836792, 1.8429486751556397, 1.8429496288299561)
INSERT [dbo].[MasseSalariale] ([Id], [Année], [Masse salariale à T+50 jours (brut)], [Masse salariale à T+70 jours (brut)], [Masse salariale à T+50 jours (cvs)], [Masse salariale à T+70 jours (cvs)], [Glissement trimestriel - Masse salariale à T+50 jours (cvs)], [Glissement trimestriel - Masse salariale à T+70 jours (cvs)], [Glissement annuel - Masse salariale à T+50 jours (cvs)], [Glissement annuel - Masse salariale à T+70 jours (cvs)]) VALUES (3, 2004, 101288132608, 101288132608, 101287288832, 101287297024, 0.783613920211792, 0.78361856937408447, 2.89896297454834, 2.8989648818969727)
SET IDENTITY_INSERT [dbo].[MasseSalariale] OFF
GO
SET IDENTITY_INSERT [dbo].[Pib] ON 

INSERT [dbo].[Pib] ([Id], [Année], [PIB]) VALUES (1, 2002, 1560844)
INSERT [dbo].[Pib] ([Id], [Année], [PIB]) VALUES (2, 2003, 1602247)
INSERT [dbo].[Pib] ([Id], [Année], [PIB]) VALUES (3, 2004, 1673982)
SET IDENTITY_INSERT [dbo].[Pib] OFF
GO
SET IDENTITY_INSERT [dbo].[Retraite] ON 

INSERT [dbo].[Retraite] ([Id], [Annee], [Taux_Retraite]) VALUES (1, 2002, CAST(60.66 AS Decimal(10, 2)))
INSERT [dbo].[Retraite] ([Id], [Annee], [Taux_Retraite]) VALUES (2, 2003, CAST(60.79 AS Decimal(10, 2)))
INSERT [dbo].[Retraite] ([Id], [Annee], [Taux_Retraite]) VALUES (3, 2004, CAST(61.10 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Retraite] OFF
GO
USE [master]
GO
